<div class="entry">
    {{#each name}}
    <h1>Hello, {{username}} has been greeted {{greetedtimes}} time</h1>
    {{/each}}
    <table>
        <tr>
            <th>Users</th>
            <th>Greeted Times</th>
        </tr>
        {{#each name}}
        <tr>
            <td>{{username}}</td>
            <td>{{greetedtimes}}</td>
        </tr>
        {{/each}}
    </table>
    <br>

    <div class="buttons">
        <form action="/greeted" method="GET">
            <button class="BackBtn" type="submit"><em>Back</em></button>
        </form>
        <form action="/" method="GET">
            <button class="BackBtn" type="submit"><em>Home</em></button>
        </form>
    </div>

</div>