<div class="entry">
    <h1>Greeted Users</h1>
    {{#each model}}
    <ul>
        <li>{{username}}</li>
    </ul>
    {{/each}}

    <form action="/clear" method="POST">
        <button class="clearBtn" type="submit"><em>Reset!</em></button>
    </form>

    <form action="/home" method="POST">
        <button class="BackBtn" type="submit"><em>Home</em></button>
    </form>

</div>