<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/greet.css">
</head>

<body>

    <header>
    </header>

    <main>
        <section id="inner-section">

            <div class="row">
                <br>
                <div class="six columns">
                    <div class=""></div>
                    <br>
                    <h1>Greetings</h1>
                    <div class="error"> </div>
                    <div class="front">
                <form action="/action" method="POST">
                            <input type="text" placeholder="Enter your name" class="fname" name="fname">
                            <div class="countOne">809-</div>
                    </div>
                    <br>
                    <label class="">
                        <input type="radio" name="itemType" class="itemTypeRadio" value="isiZulu">
                        <span class="label-body">Zulu</span>
                    </label>
                    <label class="">
                        <input type="radio" name="itemType" class="itemTypeRadio" value="English">
                        <span class="label-body">English</span>
                    </label>
                    <label class="">
                        <input type="radio" name="itemType" class="itemTypeRadio" value="Portuguese">
                        <span class="label-body">Portuguese</span>
                    </label>

                </div>
                <br>
                <div class="buttons">

                    <button class="greetbtn" type="submit"><em>Greet Me!</em></button>
                    </form>
                    <form action="/reset" method="POST">
                        <button class="resetBtn" type="submit"><em>Reset!</em></button>
                    </form>
                </div>
                <br>
                <div class="out">{{greetMe}}</div>
            </div>

        </section>
    </main>

    <footer>
    </footer>

    {{!--
    <script src="./js/greet.widget.js"></script>
    <script src="./js/greet.js" charset="utf-8"></script> --}}

</body>

</html>